.main {
  padding: 80px 104px;
  display: flex;
  flex-direction: column;
  background-color: #f5f6f7;
}

.main__heading {
  margin: 0 0 64px;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;
  color: #1a1b22;
}

.main__btn {
  background-color: #fff;
  border: none;
  border-radius: 80px;
  color: #1a1b22;
  max-width: 288px;
  width: 100%;
  padding: 20px 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  align-self: center;
}

.main__btn:hover {
  background-color: #e8e8e8;
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  .main {
    padding: 40px 40px;
  }

  .main__heading {
    margin: 0 0 32px;
    font-size: 30px;
    line-height: 1.13;
  }

  .main__btn {
    max-width: 240px;
    padding: 16px 0;
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding: 32px 16px 24px;
  }

  .main__heading {
    font-size: 30px;
    line-height: 1.13;
    margin: 0 0 58px;
  }

  .main__btn {
    padding: 16px;
  }
}