.saved-news-header {
  padding: 40px 104px 56px;
}

.saved-news-header__title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #1a1b22;
  opacity: 0.5;
  margin: 0 0 28px;
}

.saved-news-header__saved-count {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;
  color: #1a1b22;
  max-width: 530px;
  margin: 0 0 30px;
}

.saved-news-header__keywords {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #1a1b22;
  margin: 0;
}
